pycparser==2.21
pycosat==0.6.6
ptyprocess==0.7.0
more-itertools==8.12.0
conda-build==3.27.0
conda-package-handling==2.2.0
pip==23.2.1
mkl-fft==1.3.8
conda_package_streaming==0.9.0
tomli==2.0.1
conda-libmamba-solver==23.7.0
tqdm==4.65.0
types-dataclasses==0.6.6
mkl-random==1.2.4
truststore==0.8.0
astunparse==1.6.3
brotlipy==0.7.0
ipython==8.15.0
traitlets==5.7.1
parso==0.8.3
libarchive-c==2.9
pluggy==1.0.0
wcwidth==0.2.5
libmambapy==1.4.1
fsspec==2023.9.2
python-etcd==0.4.5
conda_index==0.3.0
charset-normalizer==2.0.4
typing_extensions==4.8.0
typing_extensions==4.13.0
dnspython==2.4.2
matplotlib-inline==0.1.6
cryptography==41.0.3
beautifulsoup4==4.12.2
wheel==0.41.2
attrs==23.1.0
asttokens==2.0.5
setuptools==68.0.0
PySocks==1.7.1
MarkupSafe==2.1.1
prompt-toolkit==3.0.36
Pygments==2.15.1
six==1.16.0
gmpy2==2.1.2
sortedcontainers==2.4.0
conda==23.9.0
pyOpenSSL==23.2.0
packaging==23.1
jedi==0.18.1
conda-content-trust==0.2.0
zstandard==0.19.0
urllib3==1.26.16
jsonpointer==2.1
idna==3.4
exceptiongroup==1.0.4
psutil==5.9.0
hypothesis==6.87.2
pkginfo==1.9.6
pickleshare==0.7.5
chardet==4.0.0
torchelastic==0.2.2
expecttest==0.1.6
cffi==1.15.1
executing==0.8.3
pytz==2023.3.post1
ruamel.yaml.clib==0.2.6
toolz==0.12.0
mkl-service==2.4.0
mpmath==1.3.0
pexpect==4.8.0
pure-eval==0.2.2
ruamel.yaml==0.17.21
backcall==0.2.0
stack-data==0.2.0
networkx==3.1
boltons==23.0.0
soupsieve==2.5
decorator==5.1.1
jsonpatch==1.32
sympy==1.14.0
aiohappyeyeballs==2.6.1
opencv-python-headless==4.11.0.86
depyf==0.18.0
cloudpickle==3.1.1
typing-inspection==0.4.0
shellingham==1.5.4
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
llvmlite==0.44.0
pydantic_core==2.27.2
mteb==1.38.4
pyzmq==26.4.0
googleapis-common-protos==1.70.0
nvidia-cuda-nvrtc-cu12==12.6.77
zipp==3.22.0
kiwisolver==1.4.8
astor==0.8.1
python-json-logger==3.3.0
propcache==0.3.1
nvidia-cufile-cu12==1.11.1.6
datasets==3.6.0
cupy-cuda12x==13.4.1
uvloop==0.21.0
product_key_memory==0.2.11
markdown-it-py==3.0.0
scipy==1.12.0
fonttools==4.57.0
dill==0.3.8
nvidia-cusolver-cu12==11.7.1.2
fastapi-cli==0.0.7
Jinja2==3.1.6
websockets==15.0.1
transformers==4.51.0
yfinance==0.2.61
multidict==6.4.3
nvidia-nvjitlink-cu12==12.6.85
blake3==1.0.5
outlines_core==0.1.26
rich==14.0.0
jsonschema-specifications==2025.4.1
opentelemetry-exporter-otlp-proto-grpc==1.34.0
argparse==1.4.0
tokenizers==0.21.1
git-filter-repo==2.47.0
opentelemetry-proto==1.34.0
opentelemetry-api==1.34.0
nvidia-nccl-cu12==2.26.2
starlette==0.46.2
mdurl==0.1.2
h11==0.16.0
torch==2.7.0
mpi4py==3.1.4
einops==0.8.0
multiprocess==0.70.16
eval_type_backport==0.2.2
omegaconf==2.3.0
jiter==0.10.0
regex==2024.11.6
matplotlib==3.7.0
deepspeed==0.15.0
joblib==1.4.2
peft==0.4.0
local-attention==1.10.0
torchaudio==2.7.0
python-dotenv==1.1.0
numba==0.61.2
pydantic==2.10.6
platformdirs==4.3.7
frozendict==2.4.6
lm-format-enforcer==0.10.11
sentencepiece==0.2.0
mistral_common==1.5.6
opentelemetry-semantic-conventions==0.55b0
filelock==3.18.0
scikit-learn==1.2.2
nvidia-cuda-cupti-cu12==12.6.80
gitdb==4.0.12
cachetools==6.0.0
pytrec_eval-terrier==0.5.7
accelerate==0.34.0
nvidia-cusparselt-cu12==0.6.3
torchvision==0.22.0
pyparsing==3.0.9
llguidance==0.7.29
hf-xet==1.1.3
opentelemetry-exporter-otlp==1.34.0
trl==0.18.1
cycler==0.12.1
referencing==0.36.2
requests==2.32.3
python-multipart==0.0.20
peewee==3.18.1
curl_cffi==0.11.1
pandas==1.5.3
safetensors==0.5.3
nvidia-ml-py==12.575.51
outlines==0.1.11
python-dateutil==2.9.0.post0
opentelemetry-sdk==1.34.0
typer==0.16.0
nano==0.10.0
xgrammar==0.1.19
msgspec==0.19.0
uvicorn==0.34.3
interegular==0.3.3
setproctitle==1.3.5
pyarrow==19.0.1
jsonschema==4.24.0
nvidia-cublas-cu12==12.6.4.1
yarl==1.20.0
prometheus_client==0.22.1
fastrlock==0.8.3
docker-pycreds==0.4.0
tzdata==2025.2
pillow==11.2.1
aiosignal==1.3.2
contourpy==1.3.1
opentelemetry-exporter-otlp-proto-http==1.34.0
ray==2.46.0
wandb==0.19.9
rpds-py==0.25.1
compressed-tensors==0.9.4
antlr4-python3-runtime==4.9.3
certifi==2025.4.26
protobuf==5.29.4
anyio==4.9.0
reformer-pytorch==1.4.4
airportsdata==20250523
threadpoolctl==3.6.0
lion-pytorch==0.1.2
xxhash==3.5.0
hjson==3.1.0
nvidia-cusparse-cu12==12.5.4.2
prometheus-fastapi-instrumentator==7.1.0
smmap==5.0.2
fastapi==0.115.12
axial_positional_embedding==0.3.12
huggingface-hub==0.32.4
sniffio==1.3.1
vllm==0.9.0.1
frozenlist==1.6.0
gguf==0.17.0
ninja==1.11.1.4
opentelemetry-exporter-otlp-proto-common==1.34.0
GitPython==3.1.44
distro==1.9.0
async-timeout==5.0.1
annotated-types==0.7.0
click==8.2.1
sentence-transformers==4.1.0
CoLT5-attention==0.11.1
httpcore==1.0.9
opentelemetry-semantic-conventions-ai==0.4.9
multitasking==0.0.11
nvidia-nvtx-cu12==12.6.77
pynvml==12.0.0
importlib_metadata==8.7.0
nvidia-curand-cu12==10.3.7.77
watchfiles==1.0.5
msgpack==1.1.0
PyYAML==6.0.2
nvidia-cufft-cu12==11.3.0.4
xformers==0.0.30
aiohttp==3.11.18
lark==1.2.2
polars==1.29.0
pycountry==24.6.1
httptools==0.6.4
tiktoken==0.9.0
httpx==0.28.1
email_validator==2.2.0
diskcache==5.6.3
triton==3.3.0
nest-asyncio==1.6.0
partial-json-parser==0.2.1.1.post5
py-cpuinfo==9.0.0
numpy==1.23.5
grpcio==1.72.1
rich-toolkit==0.14.7
openai==1.84.0
sentry-sdk==2.25.1
